Tank.Request/Service References/CenterService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Center.Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Center.Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfServerData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerData" nillable="true" type="tns:ServerData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerData" nillable="true" type="tns:ArrayOfServerData" />
  <xs:complexType name="ServerData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LowestLevel" type="xs:int" />
      <xs:element minOccurs="0" name="MustLevel" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Online" type="xs:int" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="State" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerData" nillable="true" type="tns:ServerData" />
</xs:schema>